<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center animate__animated animate__fadeIn animate__fast" *ngIf="dataLocalService.noticias.length === 0">
    <ion-label color="primary" class="text text-top">Ups!!! nothing here :(</ion-label>
    <ion-icon color="primary" slot="icon-only" name="star-sharp"></ion-icon>
    <ion-label color="primary" class="text text-bottom">Add news to favorites!</ion-label>
  </div>
  <app-noticias *ngIf="dataLocalService.noticias.length > 0" [enFavoritos]="true" [noticias]="dataLocalService.noticias"></app-noticias>
</ion-content>